
/******************** Sidebar Right - About Me Page******************/

.sidebar-right {
    min-height: 100%;
    width: 25%;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    color: #00303f;
    text-align: left;
}

.sidebar-right h2 {
    font-family: 'Josefin Slab', serif;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2rem; 
}

img {
    width: auto;
    height: auto;
    max-width: 100%; 
    max-height: 100%;
    padding-bottom: 1em;
}

.sidebar-right-text {
    color: #cdac81;
    font-size: 1.3rem;
}