/******************** Basic Styling ******************/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    background-color: #f5f4f4;
    font-family: 'Open-Sans', 'Arial', sans-serif;
}

/******************** Navigation Bar ******************/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #cae4db;
    width: 100%;
    position: fixed;
    max-height: 95px;
}

.logo-link {
    max-height: 95px;
    padding: 0;
    margin: 0;
}

.logo {
    width: auto;
    height: auto;
    max-width: 6rem;
    max-height: 6rem;
    padding: 0;
    margin-left: 1.5rem;
}

nav {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: flex-end;
}

nav a {
    padding: 1em;
    color: #00303f;
    text-decoration: none;
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    font-size: 1.3rem;
}

/******************** Main Page ******************/

form {
    background-color: #f5f4f4;
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
}

/******************** Sidebar Left ******************/


.sidebar-left {
    display: flex;
    flex-direction: column;
    width: 22%;
    min-height: 100%;
    margin-top: 9rem;
    border-right: 3px solid grey;
    color: #00303f;
}

.sidebar-left h2 {
    text-align: right;
    padding-right: 1rem;
    margin-bottom: 1.2rem;
    font-family: 'Josefin Slab', serif;
    font-size: 2rem;
    text-decoration: underline;
}

.sidebar-left-content {
    font-size: 1.2em;
    text-align: right;
    padding: 1.2rem 1rem;
}

.sidebar-left-content.selected {
    background: #cdac81;
}

.sidebar-left a {
    color: #00303f;
    text-decoration: none;
}

.sidebar-left a:hover {
    text-decoration: underline;
    text-decoration-color: #cdac81;
}

.sidebar-left .selected-link:hover {
    text-decoration: none;
}

/******************** Contact Form ******************/

.sidebar-right, .main-content {
    margin-top: 12rem;
    padding-bottom: 3rem;
}

.main-headline {
    width: 100%;
    color: #cdac81;
    font-family: 'Josefin Slab', serif;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: right;
    margin-bottom: 2rem; 
}

.message-form {
    background-color: #cae4db;
    border-radius: 3%;
    box-shadow: 2px 2px grey;
    padding: 1.5rem;
    text-align: center;
    color: #00303f;
}

.message-form p {
    margin-top: 1rem;
}

#fullname, #email {
    width: 90%;
    height: 2rem;
    margin-top: 0.5rem;
    padding: 0 .5rem;
    background-color: #f5f4f4;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    color: #00303f;
}

textarea {
    width: 90%;
    background-color: #f5f4f4;
    border: none;
    border-radius: 8px;
    padding: .5rem;
    font-family: 'Open Sans', Arial, sans-serif;
}

#submit {
    width: 50%;
    height: 2rem;
    border-radius: 8px;
    background-color: #cdac81;
    color: #00303f;
    font-family: 'Josefin Slab', serif;
    font-size: 1.2rem;
    padding-top: 4px;
    
}

.main-content {
    text-align: justify;
    padding-left: 3rem;
    padding-right: 2rem;
    flex: 3;
    width: 53%;
    border-right: 1px dashed grey;
}


.section-text p {
    line-height: 1.3;
    margin-bottom: 1em;
}

/******************** Sidebar Right ******************/

.sidebar-right {
    min-height: 100%;
    width: 25%;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    color: #00303f;
    text-align: left;
}

.sidebar-right h2 {
    font-family: 'Josefin Slab', serif;
    font-size: 1.8rem;
    font-weight: 700;
}

.sidebar-right p {
    margin-top: 2rem;
}

input[type="checkbox"] {
    background-color: #cdac81;
    border: 3px;
}

.sidebar-right label {
    margin-left: 0.5rem;
}


img {
    width: auto;
    height: auto;
    max-width: 100%; 
    max-height: 100%;
    padding-bottom: 5em;;
}

/******************** Footer ******************/

footer {
    width: 100%;
    background-color: #f5f4f4;
    color: #00303f;
    text-align: center;
    min-height: 9vh;
    margin-top: 3rem;
}
