body {
    margin: 0px;
}

/* Navigation Bar*/

nav {
    display: flex;
}

.nav-item {
    display: flex;
    justify-content: ;
}

.nav-item li {
    font-size: 1.2em;
    margin: 20px;
}



/* Side Bar */

main {
    display: inline-flex;
    margin: 0px;
}

.sidebar {
    width: 100px;
    background-color: aquamarine;
    padding: 10px 10px;
    margin-left: 0px;
}