* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f5f4f4;
    font-family: 'Open-Sans', 'Arial', sans-serif;
}
/* Navigation Bar*/

header {
    background-color: #cae4db;
    width: 100%;
    position: fixed;
    min-height: 10vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    padding: 1em;
}

.logo {
    color: #cdac81;
    text-decoration: none;
    font-size: 1.5em;
}

.nav-item {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: flex-end;
}

.nav-item li {
    padding: 1em;
    display: inline;
}

.nav-item a {
    color: #00303f;
    text-decoration: none;
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    font-size: 1.4rem;
}


main {
    background-color: #f5f4f4;
    display: flex;
    margin: 0px;
    min-height: 85vh;
    max-width: 1140px;
    margin: 0 auto;
}

main hr {
    color: grey;
    height: 90%;
}

/* Side Bar Right */

.sidebar-left {
    min-width: 15%;
    min-height: 100%;
    padding: 10vh 10px;
    margin-left: 0px;
    border-right: 3px solid grey;
}

.sidebar-left ul {
    display: flex;
    flex-direction: column;
}

.sidebar-left li {
    display: inline-flex;
    padding: 1em 1em;
    font-size: 1.2em;
}

.sidebar-left, .sidebar-right, .stories {
    margin-top: 6vh;
}

/* Media Sidebar */

.sidebar-right {
    min-height: 100%;
    padding: 10vh 10px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
}

.sidebar-right h2 {
    text-align: right;
}

img {
    width: auto;
    height: auto;
    max-width: 300px; 
    max-height: 300px;
    padding-bottom: 5em;;
}

/* Story Content */

.stories {
    text-align: left;
    margin-top: 9rem;
    padding: 0 2rem;
    flex: 3;
    width: 50%;
    border-right: 1px dashed grey;
}

.title-headline {
    width: 100%;
    color: #cdac81;
    font-family: 'Josefin Slab', serif;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2rem; 
}

.content {
    width: 90%;
}

.text {
    width: 100%;
    font-size: 1.1rem;
    line-height: 1.3;
}

.text p {
    margin-bottom: 1em;
}


/* Footer */

footer {
    width: 100%;
    background-color: #f5f4f4;
    min-height: 9vh;
}